* 
{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

/** Header dan Navbar **/
.menu-bar {
	background-color: #00436b;
	padding-right: 30px;
	padding-left: 30px;
}

.nav-link {
	font-size: 18px;
	color: #fff !important;
	margin: 20px;
}

.nav-item .button-user {
	font-size: 18px;
	color: #00436b !important;
	margin: 20px;
}

.navbar-nav {
	text-align: center;
}

.menu-bar .navbar-toggler {
	padding-right: 0;
	outline: none;
	border: none;
}

.banner {
	height: 70vh;
	background-color: #00436b;
	background-size: cover;
	background-position: center;
	color: #fff;
}

/** Search **/
.search-job {
	padding: 20px 0;
	margin: -200px 8% 50px;
	background-color: #00436b;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0,0,0,0);
}

.search-job .form-control{
	max-width: 800px;
	display: inline-flex;
	margin: 10px 10px;
	border-radius: 10px;
	padding: 20px;
}

.search-job .btn-light{
	border-radius: 0;
	margin: 10px;
	padding: 20px 30px;
}

/** Informasi Website Desa **/
#recruiters {
	padding-top: 100px;
	padding-bottom: 30px;
}

#recruiters h3 {
	text-align: center;
	padding-bottom: 30px;
	font-weight: 600;
	font-size: 24px;
}

#recruiters img {
	max-width: 100px;
	margin: 10px 40px;
}

/** Profile Website **/
#profile {
	background: #f8f8f8;
	padding: 50px 0;
}

#profile h5{
	text-align: center;
	padding-bottom: 30px;
	font-weight: 600;
	font-size: 24px;	
}

.card {
	padding: 30px 0;
	margin: 30px;
	border-radius: 10px;
	box-shadow: 0 2px 20px 0 rgba(110,130,208, .18);
}

/** KeunggulanLokerku **/
#site-stats {
	padding: 60px 0;
}

#site-stats h3 {
	text-align: center;
	padding-bottom: 30px;
	font-weight: 600;
	font-size: 24px;	
}

#site-stats .fa {
	font-size: 40px;
	margin-right: 20px;
	margin-bottom: 20px;
	line-height: 50px;
	vertical-align: middle;
}

.keterangan {
	text-align: left;
}

#site-stats ul {
    list-style-type: none;
}

#site-stats span {
    font-family: sans-serif;
    font-size: 18px;
}

#site-stats .btn {
	color: #fff !important;
	background: #EE5A24 !important;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 40px;
	padding: 15px;
}

/** Hubungi Kami **/
#alamat {
	padding: 60px 0;
	background-color: #f8f8f8;
}

#alamat h3 {
	text-align: center;
	padding-bottom: 30px;
	font-weight: 600;
	font-size: 24px;	
}

#alamat ul {
    list-style-type: none;
    text-align: left;
    margin-bottom: 30px;
}

#alamat .fa {
	font-size: 30px;
	margin-right: 20px;
	margin-bottom: 5px;
	line-height: 40px;
	vertical-align: middle;
}

#alamat span {
    font-family: sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

/** Footer **/
#footer {
	background: #00436b; 
	padding: 20px 10px 8px;
}

.footer-image {
	margin: 30px 0;
	height: 30%;
	max-width: 30%;
}

#footer p {
	color: #fff;
}

#footer hr {
	color: #fff;
}

.fa-heart {
	color: #f00;
}

/** Page_List_Lowongan **/
#jobs_lowongan {
	padding: 30px 0;
}

#jobs_lowongan h5{
	text-align: left;
	padding-bottom: 60px;
	font-weight: 600;
	font-size: 24px;	
}

.company-details-lowongan {
	box-shadow: 0 2px 20px 0 rgba(110,130,208, .18);
	border-radius: 5px;
	margin-bottom: 50px;
}

.job-update-lowongan {
	background: #fff;
	padding: 10px 20px;
	border-radius: 5px;
}

.job-update-lowongan .fa {
	margin-top: 5px;
	margin-right: 10px;
	color: #4A7FF1;
}

.apply-btn {
	height: 40px;
	background-color: #4A7FF1;
	padding: 7px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.apply-btn .btn-primary {
	padding: 0 30px;
	float: right;
	border-radius: 0;
	box-shadow: none !important;
	background: transparent;
	border: 1px solid #fff;
}

/** Page_Login **/
.background {
	background: #00456D !important;
}

.text-center-login {
	margin-top: 20px;
	text-align: center;
}

.background .btn {
	background-color: #EE5A24 !important;
	color: #ffffff;
}





